.mascot_toast_container {
	position: fixed;
	z-index: 9999;
	min-width: 260px;
	max-width: 360px;
	pointer-events: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	padding-right: 100px;
}

.mascot_toast_position_bottom_right {
	bottom: 0;
	right: 0;
}

.toast-dialog-bubble {
	position: relative;
}

.mascot-toast-bottom {
	flex-direction: row;
	align-items: center;
}

.mascot-toast-top {
	flex-direction: row;
	align-items: center;
}

.mascot-toast-left {
	align-items: flex-start;
}

.mascot-toast-right {
	align-items: flex-end;
}

.mascot-toast-bubble {
	pointer-events: auto;
	margin-bottom: 8px;
}

.mascot-toast-bubble-top {
	margin-top: 8px;
	margin-bottom: 0;
}

.mascot-toast-bubble-left {
	margin-left: 8px;
}

.mascot-toast-bubble-right {
	margin-right: 8px;
}

.mascot-wrapper {
	pointer-events: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mascot {
	width: 80px;
	height: 80px;
}